.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

section {
  display: flex;
  width: 100%;
}

.pad {
  flex: 1;
  background-color: #eee;
  padding: 20px;
  margin: 10px;
  color: #333;
}
